* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
* #green {
  background-color: #C2DC49;
  padding: 5px;
}
* #cursive {
  font-weight: 700;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  max-width: 100%;
  height: auto;
}
header .octaneBox {
  flex-direction: row;
  background-color: #252525;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .octaneBox .octaneDescription {
  background-color: #252525;
  height: auto;
  width: 40%;
  height: auto;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .octaneBox .octaneDescription div {
  background-color: #252525;
  height: auto;
  row-gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
header .octaneBox .octaneDescription p {
  color: #ffffff;
  font-size: 23px;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
header .octaneBox .octaneBoxInside {
  flex-direction: row;
  background-color: #E5E1D8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .octaneBox .octaneBoxInside img {
  position: relative;
  top: 10px;
}
header .octaneBox .octaneBoxInside .actual {
  background-color: #252525;
  color: #636363;
  padding: 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}
header .octaneBox .octaneBoxInside ul {
  align-items: flex-start;
  height: auto;
  row-gap: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
header .octaneBox .octaneBoxInside ul li:nth-child(1) {
  color: #000000;
  font-size: 50px;
  font-weight: 600;
}
header .octaneBox .octaneBoxInside ul li:nth-child(2) {
  color: #636363;
  font-size: 30px;
}
header .octaneBox .octaneBoxInside ul li:nth-child(3) {
  color: #000000;
  font-size: 25px;
}
header .octaneBox .octaneBoxInside ul li:nth-child(3) p {
  width: 90%;
  line-height: 50px;
}
header .octaneBox .octaneBoxInside ul li:nth-child(4) {
  flex-direction: row;
}
header .octaneBox .octaneBoxInside ul li:nth-child(4) a {
  text-decoration: none;
  color: #3C6628;
  font-size: 30px;
}
header .octaneBox .octaneBoxInside ul li:nth-child(5) {
  flex-direction: row;
  align-self: flex-end;
  position: relative;
  top: 250px;
  padding-right: 30px;
  font-size: 25px;
}
header .octaneBox .octaneBoxInside ul li {
  list-style: none;
  -moz-column-gap: 30px;
       column-gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
header .background {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header nav {
  max-width: 100%;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #252525;
  border-bottom: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header nav ul:nth-child(1) {
  align-items: left;
  justify-content: flex-start;
}
header nav ul:nth-child(2) a {
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
}
header nav ul {
  flex-direction: row;
  row-gap: 10%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header nav ul li {
  list-style: none;
}

.octaneAbilitiesAll {
  width: 100%;
  padding-top: 20vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("./imgs/Rectangle 3.png");
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  max-width: 100%;
  height: auto;
}
.octaneAbilitiesAll .octaneAbilities {
  width: 80%;
  -moz-column-gap: 200px;
       column-gap: 200px;
  flex-direction: row;
  position: relative;
  top: -80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.octaneAbilitiesAll .octaneAbilities .abilityCard {
  background-color: #252525;
  border-radius: 10px;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.octaneAbilitiesAll .octaneAbilities .abilityCard ul {
  flex-direction: column;
  position: relative;
  top: -100px;
  padding: 20px;
  text-align: center;
  height: auto;
  row-gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.octaneAbilitiesAll .octaneAbilities .abilityCard ul li:nth-child(2) {
  font-size: 38px;
  color: #C2DC49;
}
.octaneAbilitiesAll .octaneAbilities .abilityCard ul li:nth-child(3) {
  font-size: 30px;
  font-weight: 600;
}
.octaneAbilitiesAll .octaneAbilities .abilityCard ul li:nth-child(4) {
  font-size: 20px;
}
.octaneAbilitiesAll .octaneAbilities .abilityCard ul li {
  list-style: none;
  color: #ffffff;
}

.newSkinAll {
  row-gap: 20px;
  width: 100%;
  text-align: center;
  background-color: #E5E1D8;
  padding-top: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  max-width: 100%;
  height: auto;
}
.newSkinAll .newSkin {
  height: auto;
  row-gap: 20px;
  width: 80%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.newSkinAll .newSkin .spiderBottom.second {
  padding-top: 10vh;
}
.newSkinAll .newSkin .spiderBottom.second p:nth-child(4) {
  color: #787878;
}
.newSkinAll .newSkin .spiderBottom.second p:nth-child(5) {
  color: #787878;
}
.newSkinAll .newSkin .spiderTop {
  display: flex;
  flex-direction: column;
  height: auto;
  row-gap: 30px;
  padding-bottom: 10vh;
}
.newSkinAll .newSkin .spiderTop p:nth-child(1) {
  color: #000000;
  font-size: 50px;
  letter-spacing: 10px;
  font-weight: 600;
}
.newSkinAll .newSkin .spiderTop p:nth-child(2) {
  color: #636363;
  font-size: 30px;
  letter-spacing: 10px;
}
.newSkinAll .newSkin .spiderTop p:nth-child(3) {
  color: #000000;
  font-size: 20px;
}
.newSkinAll .spiderBottom {
  display: flex;
  flex-direction: column;
  height: auto;
  row-gap: 30px;
  align-items: flex-start;
  width: 90%;
  text-align: left;
  padding-bottom: 10vh;
  border-bottom: #C4C4C4 solid 2px;
}
.newSkinAll .spiderBottom p {
  line-height: 30px;
  font-style: italic;
}
.newSkinAll .spiderBottom ul {
  padding-left: 40px;
  height: auto;
  row-gap: 20px;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer {
  width: 100%;
  padding-top: 15vh;
  padding-bottom: 15vh;
  background-color: #252525;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  max-width: 100%;
  height: auto;
}
footer div {
  width: 100%;
  row-gap: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  max-width: 100%;
  height: auto;
}
footer div p {
  color: #FFFFFF;
  font-size: 30px;
}/*# sourceMappingURL=style.css.map */